VITE_SUPABASE_URL=sb_publishable_craZK-g-MhejLiiX4D0drw_REEJBu18
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRwbXVxY3J1enl0a2h0c2JpcmpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNzcyNTEsImV4cCI6MjA5NDg1MzI1MX0.d99n8kicuURx5FZzK_rXqv2dTP_rdsEtQKmme-Kz5pQ
